<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player-cling.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player-cling.png</string>
            <key>size</key>
            <string>{240,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10b4faf754f45f195088b40e54248c51:01ea6d8e987d70f330072e0671994e53:da46d1f8ac4cb3c0745e0dc5fa795dd5$</string>
            <key>textureFileName</key>
            <string>player-cling.png</string>
        </dict>
    </dict>
</plist>
